/*
-----[Cards]------
*/

.card{

    padding: 0px !important;
    margin: 20px;

    .card-text{

        margin-bottom: 15px;

    }

}

.editCard{

    z-index: 1001;

}

.section-title{

    padding: 32px 0px 0px 24px;
    font-size: 25px;
    font-weight: 700;

}