/*
-----[Footer]------
*/

.footer{

    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding: 20px 0px 10px 0px;
    margin-top: 30px;
    text-align: center;

}

.sub-heading{

    font-weight: bold;
    padding-bottom: 10px;

}

.footer-col{ 
    
    a{

        color: rgba(128, 128, 128, 0.877);

        &:hover{

            color: rgba(26, 26, 26, 0.877);

        }

    }
}