/*
-----[Nav. Bar]------
*/

.logo{

    height: 37.5px;
    width: 37.5px;

}

.nav-item {
    
    position: relative;

    a{

    font-size: 14px;
    font-weight: 600;

    }
}

.navbar-toggler{

    border: none;

    &:focus{

        outline: none;

    }

}

.arrow{

    width: 100%;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: transparent transparent #f0f0f0 transparent;
    bottom: 0px;
    position: absolute;
    z-index: 1001;
    background-color: #f0f0f0;
    opacity: 0.9;

}

.popup{

    display: none;

}

.login-popup{

    left: -30px;
    width: calc(100% + 60px);
    position: absolute;
    z-index: 1001;
    background-color: #f0f0f0;
    opacity: 0.9;

    form{

        width: 100%;

    }

    input{

        width: 100%;

    }

}