/*
-----[Slider]------
*/

.shadow{
	
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	
}

.overlay{

    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;

    .search-box{

        background-color: white;
        max-width: 600px;
        height: 50px;
        border-radius: 5px;

        
        img{

            width: auto;
            height: 25px;
            margin-left: 15px;
            padding-right: 15px;

        }

        @include respond-to('small'){

            margin-left: 10px !important;
            margin-right: 10px !important;
    
        }
        
    }

    .title{

        @include respond-to('small'){

            margin: 0px 10px 0px 10px;

        }

    }

    h1{

        color: white;
        font-size: 40px;
        max-width: 600px;
        margin-bottom: 20px;
        text-shadow: 0px 0px 5px black;

        @include respond-to('small'){

            font-size: 30px !important;

        }

    }

}

.search-btn{

    width: 100%;
    height: 100%;
    padding: 8px 0px 10px 10px;

    @include respond-to('small'){

        margin-left: 0px !important;
		height: 60px !important;
		padding-right: 10px !important;

    }

    button{

        width: 100%;
        height: 100%;
        background-color: rgb(233, 73, 73);
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        z-index: 1000;
        cursor: pointer;

        &:active{

            background-color: rgb(223, 35, 35);

        }

    }

}

.search-box-form {

    width: 100%;
    height: 100%;

    input{

        width: 100%;
        height: 100%;
        border: none;

        &:hover{

            outline: none;

        }

    }

}