
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{

    background-color: #f0fdff;
    width: 100%;
    height: 100%;

}

.hide{

    display: none;

}

#modal{

    position: fixed;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    z-index: 1001;

}

#img-modal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;

}

#img-modal{

    width: 100%;
    text-align: center;
    color: white;

}

#editor-modal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;

}

#image{

    width: auto;
    max-width: 300px;
    height: auto;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;

}

#image:hover{

    transform: scale(1.05); 

}

.img-container{

    width: 100%;
    display: flex;
    justify-content: center;

}

.articles-container{

    padding: 30px 0px 0px 0px;

}

.text-div:hover{

    cursor: pointer;
    background-color: rgb(245, 247, 148);

}

.articles-container input{

    margin: 5px 0px 30px 0px;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: 600;

}

.articles-container input:hover{

    cursor: pointer;
    background-color: rgb(245, 247, 148);

}

.articles-container input:focus{

    background-color: rgb(245, 247, 148);
    border: solid 1px black;
    outline: none;

}

::placeholder{

    color: rgb(68, 68, 68);

}

#title{

    margin-left: 10px;

}

.detail-container{

    padding: 30px 0px 30px 30px;
    

}

.title-container{

    margin: 10px;

}

.title-container label{

    font-weight: 600;
    font-size: 1.3em;

}

.editor-container{

    margin-bottom: 10px;

}

.submit{

    width: 100%;
    padding: 5px;

}

#status{

    position: absolute;
    top: 5px;
    right: 15px;

}

.action{

    cursor: pointer;

}

.js-example-basic-single{

    width: 100px;

}

.select2-label{

    font-weight: 600;

}

@media (max-width: 768px){

    #form{

        padding: 0px;
    
    }

    .detail-container{

        padding: 0 0 10px 0;

    }

}














