/* line 1, C:/wamp/www/practica_home/PHP/form/scss/pages/_login.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 2, C:/wamp/www/practica_home/PHP/form/scss/pages/_login.scss */
body {
  background-color: #eff3f4;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

/* line 5, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.hidden {
  display: none !important;
}

/* line 11, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 300px;
}

/* line 23, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.svgContainer {
  display: flex;
  justify-content: center;
}

/* line 28, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.svgContainer svg {
  max-width: 200px;
  width: 100%;
  height: 100%;
}

/* line 38, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.input {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

/* line 43, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.input label {
  display: block;
  margin: 20px 0px 10px 0px;
  color: #217093;
  font-size: 20px;
  user-select: none;
}

/* line 53, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.input input {
  padding: 14px 10px 14px 10px;
  width: 100%;
  color: #217093;
  font-size: 20px;
  border: 2px solid #217093;
  border-radius: 5px;
  transition: border 0.3s linear;
  font-weight: 600;
  box-sizing: border-box;
}

/* line 66, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.input input:focus {
  border: 2px solid #4eb8dd;
  outline: none;
}

/* line 75, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.input .error {
  color: tomato;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

/* line 89, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions button {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  background-color: #217093;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

/* line 107, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions button:focus {
  outline: none;
}

/* line 113, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions button:hover {
  background-color: #4eb8dd;
}

/* line 121, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions .additional {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #217093;
}

/* line 129, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions .additional a {
  cursor: pointer;
}

/* line 133, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions .additional a:hover {
  color: #185069;
}

/* line 138, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.actions .additional span {
  margin: 0px 5px 0px 5px;
}

/* line 148, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.formError {
  color: #df2c2c !important;
}

/* line 154, C:/wamp/www/practica_home/PHP/form/scss/components/_form.scss */
.js-example-basic-multiple {
  width: 100%;
}

/*# sourceMappingURL=../css/main.map */