
$text-color: #217093;
$highlight-color: #4eb8dd;

.hidden{

    display: none !important;

}

.form-container{

    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    display: block; 
    width: 100%; 
    max-width: 300px;

}

.svgContainer{

    display: flex;
    justify-content: center;

    svg{

        max-width: 200px;
        width: 100%;
        height: 100%;

    }

}

.input{

    font-family: 'Source Sans Pro', sans-serif;
    position: relative;

    label{

        display: block;
        margin: 20px 0px 10px 0px;
        color: $text-color;
        font-size: 20px;
        user-select: none;

    }

    input{

        padding: 14px 10px 14px 10px;
        width: 100%;
        color: $text-color;
        font-size: 20px;
        border: 2px solid $text-color;
        border-radius: 5px;
        transition: border 0.3s linear;

        font-weight: 600;
        box-sizing: border-box;

        &:focus{

            border: 2px solid $highlight-color;
            outline: none;

        }

    }

    .error{

        color: tomato;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;

    }

}

.actions{

    button{

        font-family: 'Source Sans Pro', sans-serif;

        width: 100%;
        margin: 20px 0px 20px 0px;
        padding: 10px;

        background-color: $text-color;
        color: white;

        border-radius: 5px;
        border: none;

        font-size: 15px;

        cursor: pointer;

        &:focus{

            outline: none;

        }

        &:hover{

            background-color: $highlight-color;

        }

    }

    .additional{

        display: flex;
        justify-content: center;
        align-content: center;

        color: $text-color;

        a{

            cursor: pointer;

            &:hover{
                color: darken($text-color, 10);
            }
        }

        span{

            margin: 0px 5px 0px 5px;

        }

    }

}

.formError{

    color: #df2c2c !important;

}

.js-example-basic-multiple{

    width: 100%;

}