/*
---------TOC---------

	1. General
	2. Navigation Bar
	3. Slider
	4. Cards
	5. Footer
	6. Breakpoints

--------------------
*/
/*
-----[General]------
*/
/* line 19, C:/wamp/www/practica_home/style/scss/main.scss */
.hide {
  display: none;
}

/*
-----[Nav. Bar]------
*/
/* line 5, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.logo {
  height: 37.5px;
  width: 37.5px;
}

/* line 12, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.nav-item {
  position: relative;
}

/* line 16, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.nav-item a {
  font-size: 14px;
  font-weight: 600;
}

/* line 24, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.navbar-toggler {
  border: none;
}

/* line 28, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.navbar-toggler:focus {
  outline: none;
}

/* line 36, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.arrow {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: transparent transparent #f0f0f0 transparent;
  bottom: 0px;
  position: absolute;
  z-index: 1001;
  background-color: #f0f0f0;
  opacity: 0.9;
}

/* line 51, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.popup {
  display: none;
}

/* line 57, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.login-popup {
  left: -30px;
  width: calc(100% + 60px);
  position: absolute;
  z-index: 1001;
  background-color: #f0f0f0;
  opacity: 0.9;
}

/* line 66, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.login-popup form {
  width: 100%;
}

/* line 72, C:/wamp/www/practica_home/style/scss/components/_navBar.scss */
.login-popup input {
  width: 100%;
}

/*
-----[Slider]------
*/
/* line 5, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

/* line 11, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
}

/* line 22, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.overlay .search-box {
  background-color: white;
  max-width: 600px;
  height: 50px;
  border-radius: 5px;
}

/* line 30, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.overlay .search-box img {
  width: auto;
  height: 25px;
  margin-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  /* line 22, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
  .overlay .search-box {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

@media (max-width: 767px) {
  /* line 48, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
  .overlay .title {
    margin: 0px 10px 0px 10px;
  }
}

/* line 58, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.overlay h1 {
  color: white;
  font-size: 40px;
  max-width: 600px;
  margin-bottom: 20px;
  text-shadow: 0px 0px 5px black;
}

@media (max-width: 767px) {
  /* line 58, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
  .overlay h1 {
    font-size: 30px !important;
  }
}

/* line 76, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.search-btn {
  width: 100%;
  height: 100%;
  padding: 8px 0px 10px 10px;
}

@media (max-width: 767px) {
  /* line 76, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
  .search-btn {
    margin-left: 0px !important;
    height: 60px !important;
    padding-right: 10px !important;
  }
}

/* line 90, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.search-btn button {
  width: 100%;
  height: 100%;
  background-color: #e94949;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  z-index: 1000;
  cursor: pointer;
}

/* line 103, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.search-btn button:active {
  background-color: #df2323;
}

/* line 113, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.search-box-form {
  width: 100%;
  height: 100%;
}

/* line 118, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.search-box-form input {
  width: 100%;
  height: 100%;
  border: none;
}

/* line 124, C:/wamp/www/practica_home/style/scss/components/_slider.scss */
.search-box-form input:hover {
  outline: none;
}

/*
-----[Cards]------
*/
/* line 5, C:/wamp/www/practica_home/style/scss/components/_cards.scss */
.card {
  padding: 0px !important;
  margin: 20px;
}

/* line 10, C:/wamp/www/practica_home/style/scss/components/_cards.scss */
.card .card-text {
  margin-bottom: 15px;
}

/* line 18, C:/wamp/www/practica_home/style/scss/components/_cards.scss */
.editCard {
  z-index: 1001;
}

/* line 24, C:/wamp/www/practica_home/style/scss/components/_cards.scss */
.section-title {
  padding: 32px 0px 0px 24px;
  font-size: 25px;
  font-weight: 700;
}

/*
-----[Footer]------
*/
/* line 5, C:/wamp/www/practica_home/style/scss/components/_footer.scss */
.footer {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  padding: 20px 0px 10px 0px;
  margin-top: 30px;
  text-align: center;
}

/* line 14, C:/wamp/www/practica_home/style/scss/components/_footer.scss */
.sub-heading {
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 23, C:/wamp/www/practica_home/style/scss/components/_footer.scss */
.footer-col a {
  color: rgba(128, 128, 128, 0.877);
}

/* line 27, C:/wamp/www/practica_home/style/scss/components/_footer.scss */
.footer-col a:hover {
  color: rgba(26, 26, 26, 0.877);
}

/*# sourceMappingURL=../css/main.map */