/*
---------ToC---------

	1. General
	2. Navigation Bar
	3. Slider
	4. Cards
	5. Footer
	6. Breakpoints

--------------------
*/


/*
-----[General]------
*/

.no-padding{

    padding: 0px !important;

}

/*
-----[Nav. Bar]------
*/

.logo{

    height: 30px;
    width: 30px;

}

.right{

    float: right;

}

.nav-item a{

    font-size: 14px;
    font-weight: 600;

}

/*
-----[Cards]------
*/

.card{

    padding: 0px !important;
    margin: 20px;

}

.subtitle{

    padding: 32px 0px 0px 24px;
    font-size: 25px;
    font-weight: 700;

}

/*
-----[Slider]------
*/

.overlay{

    background-color: rgb(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;

}

.search-box{

    background-color: white;
    max-width: 600px;
    height: 50px;
    border-radius: 5px;

}

.shadow{
	
	box-shadow: 0px 0px 10px 3px #00000045;
	
}

.title{

    color: white;
    font-size: 40px;
    max-width: 600px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px black;

}

.search-btn{

    width: 100%;
    height: 100%;
    padding: 8px 0px 10px 10px;

}

.search-btn button{

    width: 100%;
    height: 100%;
    background-color: rgb(233, 73, 73);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;

}


.search-box-form {

    width: 100%;
    height: 100%;

}

.search-box-form input{

    width: 100%;
    height: 100%;
    border: none;

}

.search-box-form input:focus{

    outline: none;

}

.search-box-form-img{

    width: auto;
    height: 25px;
    margin-left: 15px;

}

/*
-----[Footer]------
*/

.footer{

    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding: 20px 0px 10px 0px;
    margin-top: 30px;
    text-align: center;

}

.sub-heading{

    font-weight: bold;
    padding-bottom: 10px;

}

.footer-col a{

    color: rgba(128, 128, 128, 0.877);

}

.footer-col a:hover{

    color: rgba(26, 26, 26, 0.877);

}

/*
-----[Breakpoints]------
*/

@media only screen and (max-width: 780px) {
	
	.title{
		
		font-size: 30px !important;
		padding: 0px 20px 0px 20px;
		
	}
	
	.search-box{
		
		margin-left: 10px !important;
		margin-right: 10px !important;
		
	}
	
	
	.search-btn{
		
		margin-left: 0px !important;
		height: 60px !important;
		padding-right: 10px !important;
		
	}

}